<%- include("partials/header") -%>

<h1>Home</h1>

<p><%= homePara %></p>


<% thePosts.forEach(function(thePost) {%>

<h1><%= thePost.title %></h1>
<p><%= thePost.content %></p>

  <%= console.log(thePost.title);%>

<% });%>


<%- include("partials/footer") -%>
